.sidebar-nav {
    margin-top: 20px;
    padding: 0;
    list-style: none;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

.v-divider{
    margin-left:5px;
    margin-right:5px;
    width:1px;
    height:100%;
    border-left:1px solid gray;
}