<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portada</title>
</head>
<body>
    <h1>Skynet</h1>
    <div>
        Hora de visita : {{ date }}
    </div>
    <ul>
        <li>
            {% for post in posts %}
            <div>
                <h3>{{ post.title }}</h3>
                <p><a href="/{{ post.published_date.year }}/{{ post.published_date.month }}/{{ post.id }}">Leer</a></p>
            </div>
            {% endfor %}
        </li>
    </ul>
</body>
</html>