{% extends "blog\base_generic.html" %}

{% block content %}

<h3>Entradas recientes</h3>

    <table class="table">
        <tr>
            <th scope="col">Titulo</th>
            <th scope="col">Detalle</th>
            <th scope="col">Acción</th>
        </tr>
        {% for post in posts %}
        <tr>
            <th scope="row">{{ post.title }}</th>
            <td>
                {{ post.content }}
            </td>
            <td>
                <a href="/{{ post.published_date.year }}/{{ post.published_date.month }}/{{ post.id }}">Ver post</a>
            </td>
        </tr>
        {% endfor %}
    </table>
    
{% endblock %}