{% extends "blog\base_generic.html" %}

{% block content %}

<h3>Entradas {{ month_name }} del año {{ year }}</h3>

    {% if posts %}

    {% for post in posts %}
    <table class="table">
        <tr>
            <th scope="col">Titulo</th>
            <th scope="col">Detalle</th>
            <th scope="col">Acción</th>
        </tr>
        <tr>
            <th scope="row">{{ post.title }}</th>
            <td>
                {{ post.content }}
            </td>
            <td>
                <p><a href="/{{ post.published_date.year }}/{{ post.published_date.month }}/{{ post.id }}">Ver post</a></p>
            </td>
        </tr>
    </table>
    {% endfor %}

    {% else %}
        <p>No hay entradas.</p>
    {% endif %} 
    
{% endblock %}
